.Main{
    position: relative;
    height: 640px;
    width: 60%;
    margin: 10px auto;
}

.title {
    position: relative;
    font-size: 7rem;
    margin: 25px auto;
    border: 20px white double;
    color: white;
    text-align: center;
}

.minititle {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: white;
    font-size: 4rem;
}

.input-main {
    height: 45px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.list-main {
    display: flex;
    align-self: center;
    justify-content: center;
    width : 100%;
    height: 45px;
    margin: 5vh 0;
}