@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.App {
  font-family: 'Nanum Gothic'
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -250px; 
  width : 400px;
  height: 500px;
  border: 1px solid black;
}

input:focus {
  outline: none;
}